@CHARSET "UTF-8";
table {
    border-collapse: collapse;
    width: 100%;
}
table, th, td {
   border: 1px solid black;
}

#emptable{
	display: inline-block;

}
#asstable{
	display: inline-block;

}
#locationstable{
	display: inline-block;

}
#jobstable{
	display: inline-block;

}
#projectstable{
	display: inline-block;

}
#departmentstable{
	display: inline-block;

}











